<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Creando Puentes</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Beneficiario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Representante</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Puntacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Telefonos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Prestadores</a>
      </li>
    </ul>
  </div>
</nav>