<div class="sign-up">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp(signUpForm.value)">
        <div class="form-group">
            <label for="name">Nombre(s)</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre(s)" [formControl]="signUpForm.get('name')">
        </div>

        <div class="form-group">
            <label for="last-name">Apellido(s)</label>
            <input type="text" class="form-control" id="last-name" placeholder="Apellido(s)" [formControl]="signUpForm.get('lastName')" [(ngModel)]="lastName">
        </div>

        <div class="form-group">
            <label for="email-sign-up">Correo electronico</label>
            <input type="email" class="form-control" id="email-sign-up" placeholder="Correo electronico" [formControl]="signUpForm.get('email')" [(ngModel)]="email">
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" [formControl]="signUpForm.get('password')" [(ngModel)]="password">
        </div>

        <div class="form-group">
            <label for="password-2">Contraseña</label>
            <input type="password" class="form-control" id="password-2" placeholder="Contraseña" [formControl]="signUpForm.get('password2')" [(ngModel)]="password2">
        </div>

        <my-date-picker name="date" [options]="dateOpts" placeholder="Fecha de nacimiento" [formControl]="signUpForm.get('birthday')" [(ngModel)]="birthday"></my-date-picker>

        <label class="radio-inline">
            <input type="radio" value="female" formControlName="gender"> Femenino
        </label>

        <label class="radio-inline">
            <input type="radio" value="male" formControlName="gender"> Masculino
        </label>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Crear cuenta</button>
        </div>
    </form>
</div>