<div class="add-mentor">
  <form [formGroup]="mentorForm" (ngSubmit)="onAddMentor(mentorForm.value)">
<!-- Personal data -->
    <div class="form-group">
        <label for="name">Nombre(s)</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre(s)" [formControl]="mentorForm.get('name')" [(ngModel)]="name">
    </div>

    <div class="form-group">
        <label for="last-name">Apellido(s)</label>
        <input type="text" class="form-control" id="last-name" placeholder="Apellido(s)" [formControl]="mentorForm.get('lastName')" [(ngModel)]="lastName">
    </div>

    <!-- <div class="form-group">
        <label for="curp">CURP</label>
        <input type="text" class="form-control" id="curp" placeholder="CURP" [formControl]="mentorForm.get('curp')" [(ngModel)]="curp">
    </div> -->

    <my-date-picker 
        name="date" 
        [options]="dateOpts" 
        placeholder="Fecha de nacimiento" 
        [formControl]="mentorForm.get('birthday')" 
        [(ngModel)]="birthday">
    </my-date-picker>

    <label class="radio-inline">
        <input type="radio" value="female" formControlName="gender"> Femenino
    </label>

    <label class="radio-inline">
        <input type="radio" value="male" formControlName="gender"> Masculino
    </label>

    <div class="form-group">
        <label for="phone">Telefono</label>
        <input type="text" class="form-control" id="phone" placeholder="Telefono" [formControl]="mentorForm.get('phone')" [(ngModel)]="neighborhood">
    </div>
<!-- Addres -->
    <div class="form-group">
        <label for="neighborhood">Colonia</label>
        <input type="text" class="form-control" id="neighborhood" placeholder="Colonia" [formControl]="mentorForm.get('neighborhood')" [(ngModel)]="neighborhood">
    </div>

    <div class="form-group">
        <label for="street">Calle</label>
        <input type="text" class="form-control" id="street" placeholder="Calle" [formControl]="mentorForm.get('street')" [(ngModel)]="street">
    </div>
    
    <div class="form-group">
      <label for="number-ext"># Int</label>
      <input type="text" class="form-control" id="number-ext" placeholder="# Int" [formControl]="mentorForm.get('numberExt')" [(ngModel)]="numberExt">
    </div>

    <div class="form-group">
      <label for="number-int"># Ext</label>
      <input type="text" class="form-control" id="number-int" placeholder="# Ext" [formControl]="mentorForm.get('numberInt')" [(ngModel)]="numberInt">
    </div>

    <span>Entre</span>

    <div class="form-inline">
        <div class="form-group">
            <label for="street-line-one">Calle</label>
            <input type="text" class="form-control" id="street-line-one" placeholder="Calle" [formControl]="mentorForm.get('streetLineOne')" [(ngModel)]="streetLineOne">
          </div>

          <div class="form-group">
            <label for="street-line-two">Calle</label>
            <input type="text" class="form-control" id="street-line-two" placeholder="Calle" [formControl]="mentorForm.get('streetLineTwo')" [(ngModel)]="streetLineTwo">
          </div>
    </div>

    <div class="form-group">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" id="city" placeholder="Ciudad" [formControl]="mentorForm.get('city')" [(ngModel)]="city">
    </div>

    <div class="form-group">
        <label for="state">Estado</label>
        <input type="text" class="form-control" id="state" placeholder="Calle" [formControl]="mentorForm.get('state')" [(ngModel)]="state">
    </div>

    <div class="form-group">
        <label for="zip-code">Codigo postal</label>
        <input type="text" class="form-control" id="zip-code" placeholder="Calle" [formControl]="mentorForm.get('zipCode')" [(ngModel)]="zipCode">
    </div>

    <div class="form-group">
        <label for="country">Pais</label>
        <input type="text" class="form-control" id="country" placeholder="Calle" [formControl]="mentorForm.get('country')" [(ngModel)]="country">
    </div>
  </form>
</div>